/* Brand colors */
brandblue = rgba(80, 45, 210, 1)
brandgrey = rgba(230, 230, 230, 1)
brandviolet = rgba(180, 120, 255, 1)
brandskin = rgba(255, 215, 170, 1)
brandgreen = rgba(190, 255, 125, 1)
brandred = rgba(255, 150, 150, 1)
brandblack = rgba(0, 0, 0, 0.9)
brandwhite = rgba(255, 255, 255, 1)


bg-color = brandwhite
page-color = brandwhite

/* Other colors */


body
  background-color bg-color

.page

  background-color page-color

.footer
    background-color brandblack
    color brandwhite

