@import "font-awesome/css/font-awesome.css"
@import "bootstrap/dist/css/bootstrap.css"


//
// Bootstrap Fonts
//

@font-face
    font-family: 'Glyphicons Halflings'
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot')
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');

//
// Font Awesome Fonts
//

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

//
// App-wide Styles
//

.browsehappy
    background #ccc
    color #000
    margin 0.2em 0
    padding 0.2em 0  

// Component styles are injected through grunt
// injector
@import '00_base.styl';
@import '01_colors.styl';
@import '02_borders.styl';
@import '03_backgrounds.styl';
@import '04_elements.styl';
@import '05_typo.styl';
@import '06_layout.styl';
@import '07_states.styl';
@import '08_modules.styl';
@import '09_tests.styl';
@import '10_override.styl';
@import '3d/3d.styl';
@import 'about/about.styl';
@import 'accordion/accordion.styl';
@import 'admintemp/admintemp.styl';
@import 'admintep/admintep.styl';
@import 'ajax/ajax.styl';
@import 'animation/animation.styl';
@import 'articles/articles.styl';
@import 'audio/audio.styl';
@import 'banner/banner.styl';
@import 'blog/blog.styl';
@import 'blogtemp/blogtemp.styl';
@import 'buttons/buttons.styl';
@import 'canvas/canvas.styl';
@import 'cart/cart.styl';
@import 'case/case.styl';
@import 'catalogue/catalogue.styl';
@import 'chart/chart.styl';
@import 'checkout/checkout.styl';
@import 'contact/contact.styl';
@import 'corptemp/corptemp.styl';
@import 'css3tags/css3tags.styl';
@import 'didyouknow/didyouknow.styl';
@import 'features/features.styl';
@import 'feedback/feedback.styl';
@import 'flip/flip.styl';
@import 'footer/footer.styl';
@import 'form/form.styl';
@import 'gallery/gallery.styl';
@import 'geo/geo.styl';
@import 'gestures/gestures.styl';
@import 'guides/guides.styl';
@import 'header/header.styl';
@import 'hero/hero.styl';
@import 'html5tags/html5tags.styl';
@import 'images/images.styl';
@import 'infograph/infograph.styl';
@import 'jquery/jquery.styl';
@import 'json/json.styl';
@import 'landing/landing.styl';
@import 'lazy/lazy.styl';
@import 'lightbox/lightbox.styl';
@import 'localstorage/localstorage.styl';
@import 'login/login.styl';
@import 'loginform/loginform.styl';
@import 'magtemp/magtemp.styl';
@import 'main/main.styl';
@import 'map/map.styl';
@import 'microformats/microformats.styl';
@import 'mixins/grid.styl';
@import 'modal/modal.styl';
@import 'mongo/mongo.styl';
@import 'notification/notification.styl';
@import 'opinion/opinion.styl';
@import 'pagetemp/pagetemp.styl';
@import 'particles/particles.styl';
@import 'persona/persona.styl';
@import 'phonecap/phonecap.styl';
@import 'popup/popup.styl';
@import 'portfolio/portfolio.styl';
@import 'pricing/pricing.styl';
@import 'products/products.styl';
@import 'project/project.styl';
@import 'quicksand/quicksand.styl';
@import 'quote/quote.styl';
@import 'related/related.styl';
@import 'scan/scan.styl';
@import 'services/services.styl';
@import 'shop/shop.styl';
@import 'showhide/showhide.styl';
@import 'sizing/sizing.styl';
@import 'some/some.styl';
@import 'sorting/sorting.styl';
@import 'spotlight/spotlight.styl';
@import 'statstemp/statstemp.styl';
@import 'styletile/styletile.styl';
@import 'tabs/tabs.styl';
@import 'tasktemp/tasktemp.styl';
@import 'transform/transform.styl';
@import 'typo/typo.styl';
@import 'userpath/userpath.styl';
@import 'video/video.styl';
@import 'webworkers/webworkers.styl';
@import 'workflow/workflow.styl';
// endinjector