html
  head
  body
    div.wrapper
      div#box
        img(src='http://www.pixentral.com/pics/1A2fMA1TzhR2QtSPBE7jHWv9k.png', alt='lock')
        h3 Please sign in
        form
          input(type='text', placeholder='USERNAME')
          input(type='text', placeholder='PASSWORD')
        a(href='#') forgot ?
        input(onclick='this.style.backgroundColor = "#69c061";', type='submit', value='go on... click me!')
        div.signup
          p
            | not a member ?
            a(href='#') sign up
