div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Sek proto-template
    


section.templator
  h1 Templator
  p This is the place to start protoing.
  section
    h1 Tools un' Such
    ul
      li 
        a(href="http://codepen.io/") CodePen
      li 
        a(href="https://github.com/") Git
      li 
        a(href="http://getbootstrap.com/2.3.2/") Bootstrap
      li 
        a(href="http://www.pinterest.com/search/pins/?q=web+design") Pinterest
      li 
        a(href="http://jsfiddle.net/") JSfiddle
      li 
        a(href="http://validator.w3.org/") Validator
      li 
        a(href="http://css3clickchart.com/") css3 clickable cheatsheet
      li 
        a(href="http://www.google.com/fonts/") Google fonts
      li 
        a(href="https://kuler.adobe.com/create/color-wheel/") Adobe Kuler
      li 
        a(href="http://foundation.zurb.com/") Foundation
      li 
        a(href="http://www.sublimetext.com/") SublimeText
      li 
        a(href="http://ui-patterns.com/") Ui Patterns
      li 
        a(href="http://www.shutterstock.com/") Sek Shutterstock account
      li 
        a(href="http://www.google.com/design/spec/material-design/introduction.html") Google Material Design
      li 
        a(href="http://codepen.io/patterns") Codepen Design Patterns
      li 
        a(href="http://html2jade.org/") html2jade2html
      li 
        a(href="http://css2stylus.com/") css2stylus
      li 
        a(href="http://sass2stylus.com/") sass2stylus
      li 
        a(href="http://js2coffee.org/") Js2coffee


         
        
      
  section
    h1 Snippets
    p to be used with yo generator-angular-fullstack
    a(href="https://www.npmjs.org/package/generator-angular-fullstack") https://www.npmjs.org/package/generator-angular-fullstack
    p ...or what ever you fancy!
    p Please separate content, code, style and rules...



  section
    div(ng-include='"app/header/header.html"')

  section
    div(ng-include='"app/about/about.html"')

  section
    div(ng-include='"app/articles/articles.html"')

  section
    div(ng-include='"app/banner/banner.html"')

  section
    div(ng-include='"app/blog/blog.html"')

  section
    div(ng-include='"app/canvas/canvas.html"')

  section
    div(ng-include='"app/cart/cart.html"')

  section
    div(ng-include='"app/case/case.html"')

  section
    div(ng-include='"app/checkout/checkout.html"')

  section
    div(ng-include='"app/contact/contact.html"')

  section
    div(ng-include='"app/didyouknow/didyouknow.html"')

  section
    div(ng-include='"app/features/features.html"')

  section
    div(ng-include='"app/footer/footer.html"')

  section
    div(ng-include='"app/form/form.html"')

  section
    div(ng-include='"app/gallery/gallery.html"')

  section
    div(ng-include='"app/geo/geo.html"')

  section
    div(ng-include='"app/gestures/gestures.html"')

  section
    div(ng-include='"app/guides/guides.html"')

  section
    div(ng-include='"app/hero/hero.html"')

  section
    div(ng-include='"app/landing/landing.html"')

  section
    div(ng-include='"app/lazy/lazy.html"')

  section
    div(ng-include='"app/localstorage/localstorage.html"')

  section
    div(ng-include='"app/loginform/loginform.html"')

  section
    div(ng-include='"app/map/map.html"')

  section
    div(ng-include='"app/microformats/microformats.html"')

  section
    div(ng-include='"app/modal/modal.html"')

  section
    div(ng-include='"app/notification/notification.html"')

  section
    div(ng-include='"app/opinion/opinion.html"')

  section
    div(ng-include='"app/popup/popup.html"')

  section
    div(ng-include='"app/portfolio/portfolio.html"')

  section
    div(ng-include='"app/pricing/pricing.html"')

  section
    div(ng-include='"app/products/products.html"')

  section
    div(ng-include='"app/quote/quote.html"')

  section
    div(ng-include='"app/related/related.html"')

  section
    div(ng-include='"app/services/services.html"')

  section
    div(ng-include='"app/shop/shop.html"')

  section
    div(ng-include='"app/sizing/sizing.html"')

  section
    div(ng-include='"app/spotlight/spotlight.html"')

  section
    div(ng-include='"app/styletile/styletile.html"')

  section
    div(ng-include='"app/tabs/tabs.html"')

  section
    div(ng-include='"app/video/video.html"')

  section
    div(ng-include='"app/webworkers/webworkers.html"')

  section
    div(ng-include='"app/images/images.html"')

  section
    div(ng-include='"app/sorting/sorting.html"')

  section
    div(ng-include='"app/showhide/showhide.html"')

  section
    div(ng-include='"app/mongo/mongo.html"')

  section
    div(ng-include='"app/jquery/jquery.html"')

  section
    div(ng-include='"app/ajax/ajax.html"')

  section
    div(ng-include='"app/json/json.html"')

  section
    div(ng-include='"app/css3tags/css3tags.html"')

  section
    div(ng-include='"app/html5tags/html5tags.html"')

  section
    div(ng-include='"app/chart/chart.html"')

  section
    div(ng-include='"app/audio/audio.html"')

  section
    div(ng-include='"app/transform/transform.html"')

  section
    div(ng-include='"app/animation/animation.html"')

  section
    div(ng-include='"app/flip/flip.html"')

  section
    div(ng-include='"app/3d/3d.html"')

  section
    div(ng-include='"app/particles/particles.html"')

  section
    div(ng-include='"app/userpath/userpath.html"')

  section
    div(ng-include='"app/workflow/workflow.html"')

  section
    div(ng-include='"app/buttons/buttons.html"')

  section
    div(ng-include='"app/scan/scan.html"')

  section
    div(ng-include='"app/some/some.html"')

  section
    div(ng-include='"app/typo/typo.html"')

  section
    div(ng-include='"app/catalogue/catalogue.html"')

  section
    div(ng-include='"app/lightbox/lightbox.html"')

  section
    div(ng-include='"app/quicksand/quicksand.html"')

  section
    div(ng-include='"app/phonecap/phonecap.html"')

  section
    div(ng-include='"app/accordion/accordion.html"')

  section
    div(ng-include='"app/feedback/feedback.html"')

  section
    div(ng-include='"app/project/project.html"')

  section
    div(ng-include='"app/persona/persona.html"')

  section
    div(ng-include='"app/infograph/infograph.html"')

  section
    div(ng-include='"app/statstemp/statstemp.html"')

  section
    div(ng-include='"app/admintemp/admintemp.html"')

  section
    div(ng-include='"app/blogtemp/blogtemp.html"')

  section
    div(ng-include='"app/magtemp/magtemp.html"')

  section
    div(ng-include='"app/tasktemp/tasktemp.html"')

  section
    div(ng-include='"app/corptemp/corptemp.html"')

  section
    div(ng-include='"app/pagetemp/pagetemp.html"')

  section
    p add more...




footer.footer
  .container
    p
      a(href='mailto:mika.hamalainen@sek.fi') Mika Hämäläinen
